td.editor_label
{
	background-color:    #EEEEEE;
	font-weight: bold;

	border-top:          #DDDDDD;
	border-top-width:    2px;
	border-top-style:    solid;
	vertical-align:      top;

	padding-right:		 8px;
	padding-left:		 8px;

	width: 100px;
}

td.editor_value
{
	border-top:          #DDDDDD;
	border-top-width:    2px;
	border-top-style:    solid;
	vertical-align:      top;

	padding-right:		 8px;
	padding-left:		 8px;
}

table.editor_table
{
	/* width: 100%; */
}

textarea.editor_textarea
{
	width: 100%;
}

select, input, textarea, button
{
	border: 1px solid #000;
}

select:focus, input:focus, textarea:focus {
	border: 1px solid #00F;
	background-color: #FFEEAA;
}

input[ type = "submit" ]:hover, input[ type = "submit" ]:focus, button:hover, button:focus {
	border: 1px solid #00F;
	background-color: #DDDDFF;
}