/* general styling */
html, body
{
    background-color: #000000;
    color: #000000; /* Hack for Opera fullscreen */
    padding: 0px;
    margin:  0px;
    border:  0px;
    height:  100%;
}

html 
{
    overflow-y: scroll;    
}

select, input, textarea, button
{
	border: 1px solid #000;
}

select:focus, input:focus, textarea:focus {
	border: 1px solid #00F;
	background-color: #FFFFFF;
}

.Option input, .Option input:focus
{
	border: 0px;    
}


/* DialogBox */

/* Z-index of #mask must lower than #boxes .window */
#dialogContainer {
  position:fixed;
  left: 0px;
  top:  0px;
  width: 100%;
  height: 100%;
  z-index:9000;
}

#dialogContainer .Mask {
  position:absolute;
  left: 0px;
  top:  0px;
  width: 100%;
  height: 100%;  
  z-index:9001;
  background-color:#000;
  opacity:0.6;
}

#dialogContainer .BoxContainer2 {
  position:absolute;
  left: 0px;
  top:  0px;
  width: 100%;
  height: 100%;  
  z-index:9002;
  display: table;      
}

#dialogContainer .BoxContainer {
  display: table-cell;
  vertical-align: middle;
  z-index:9002;
}

#dialogContainer .Box {
  background-color: #FFFFFF;
  margin: auto;
  max-width:300px;
  padding:20px;  
  text-align: center;
}

#dialogBox .ButtonDiv 
{
    text-align: center;
}

#dialogContainer .TopContainer {
  vertical-align: middle;    
}

#dialogContainer .LoadingContainer {
  display : inline-block;
  vertical-align: middle;
}


#dialogContainer .MessageContainer {
  padding: 6px;
  display : inline-block;
  vertical-align: middle;
}

/* PageNavigationBar */
.PageNavigationBar
{
    padding-left:       0px;
    font-weight:        bold;        
}

/* Page link for current page */
.PageNavigationBar .Current
{
    float:              left;
    width:              auto;
    background-color:   #EEEEFF;
    border-top-right-radius: 8px;
    border-top-left-radius:  8px;    
}

/* Page link for any other page */
.PageNavigationBar .Visitable
{
    float:              left;
    margin-right:       0px; 
}

.PageNavigationBar .Visitable a
{
    color:              #6666FF;
}

.PageNavigationBar .NotVisitable
{
    float:              left;
    margin-right:       0px; 
    color:              #EEEEFF;
    /* background-color:   #a6a6ca; */
}

.PageNavigationBar .Inner
{
    padding:            8px;
    padding-left:       16px;
    padding-right:      16px;
}

.Inactive
{
    color:              #999999;    
    font-weight:        bold;
}
/*
.PageNavigationBar li
{
	display: 			inline;
	list-style-type: 	none;
	padding-right: 		10px;
}
*/

#mainContent
{
    height: 100%;
}


/* PageDefault */
.PageDefault
{
	width:          782px; /* 750px + 16px padding */
	margin-left:    auto;
	margin-right:   auto;
    padding-top:    16px;
    padding-bottom: 16px;
}

.PageDefault .PageInnerClass
{
    background-color: #EEEEFF;
    height: 100%;
    border-top-right-radius:    8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius:  8px;
}

.PageDefault .PagePadding
{
    padding:          16px;
}

/* PageFull */
.PageFull
{
/*   
    position:         absolute;
	width:            100%;
    height:           100%;
*/
    background-color: #000000;
}

.PageFull .PagePadding
{
    padding:          0px;;
    height:           100%;
}

#PageInner
{
}

.UnansweredHighlight
{
    background-color: #d48989;
}


.MouseOverHighlight
{
    background-color: #F8F8FF;
}

.Item 
{
    
}
.Clear
{
	clear:          both;	
    
}

.Item .Left
{
	width:          344px;    
    /* float:          left; */
    display:        table-cell;
	vertical-align: top;
    padding-top:    6px;
    padding-bottom: 6px;
    padding-right:  6px;
}

.Item .Right
{
    width:          400px;;
	display:        table-cell;
	vertical-align: middle;
}

.Item .Option
{
    display:        table-cell;
	vertical-align: middle;
    padding-top:    6px;
    padding-bottom: 6px;
    padding-right:  6px;
}

.Item .LabelEvery
{
	float:          left;  
    text-align:     center;
}

.Item .LabelLeft
{
	float:          left;  
    text-align:     left;
}

.Item .LabelRight
{
	float:          right;  
    text-align:     right;
}

/* Horizontal Likert options */
.Item .LabelEvery input
{
    margin-left:  auto; 
    margin-right: auto; 
    width: 100%;
    border:       0px;   
    
}
.Item .LabelEvery input:focus
{
    background-color: transparent;
}

.Paragraph
{
}

/*
.Item .Label .Inner
{
	margin-left:    auto;
	margin-right:   auto;
    display:        inline;
}
*/

/* Text input */
.Item input
{
    padding-top: 4px; 
    /* width: 98%; */
    margin-right: 4px;
}

.PrevNext
{
    padding-top: 8px;
    float: right;
}

.PrevNext .Previous
{
    float: left;
}

.PrevNext .Spacer
{
    float:  left;
    width:  20px;
    height: 1px;
}

.PrevNext .Next
{
    float: left;
}

/* Dialog */
.Box
{
    border-radius:    8px;    
}