/* Control Panel */
.ControlPanel
{
	padding:  8px;
	background-color: #DDDDDD;
	border: 4px solid #888888;
	margin-bottom: 8px;    
}

table.paginator_table
{
	padding-top:    8px;
	max-width:      1280px;
}